<body >
    <header>
        <button class="icon-button">
            <i class="bi bi-list h2"></i>
        </button>
        <button class="text-button">
            <p class="text-buttons">Home</p>
        </button>
        <button class="text-button">
            <p class="text-buttons">Contacts</p>
        </button>
        <button class="text-button">
            <p class="text-buttons">Login</p>
        </button>
    </header>
    <div class="content-container">
        <div class="title-container">
            <h1>ScrapBook</h1>
            <p>
                All you need to plan and track
                your life in one single place.
                Customize and have fun
                decorating your own scrapbook
                online!
            </p>
        </div>
        <div class="image-container">
            <div class="background">
                <img [src]="imageUrl" alt="Girl Reading A Book">
            </div>
        </div>
    </div>
    
    
</body>

