<body>
    <div class="title-container">
        <i class="bi bi-journal-bookmark-fill h4"></i>
        <h3 class="title">ScrapBook</h3>
    </div>
    <div class="list-container">
        <ul>
            <li>
                <i class="bi bi-house-fill h4"></i>
                <h5>Home</h5>
            </li>
            <li>
                <i class="bi bi-heart-fill h4"></i>
                <h5>Favorites</h5>
            </li>
            <li>
                <i class="bi bi-gear-fill h4"></i>
                <h5>Settings</h5>
            </li>
        </ul>
    </div>
    
</body>

